/* header{
    position: relative;
    top: 0px;
    left: 0px;

    height: 100vh;
} */

.main {
    position: absolute;
    top: 0px;

    z-index: -1;

    width: 100%;
    /* height: 100%; */
    padding: 10% 0 5% 0;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Cadastro-motorista.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.vidro {
    position: relative;
    z-index: 0;

    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    padding: 2% 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: rgba(69, 69, 69, 0.40);
    border: 3px solid rgba(69, 69, 69, 0.40);
    gap: 3vw;
}

.inserir-dados {
    width: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    /* margin: 20px 0; */

    border-block-end: 3px solid #FFF;
}

.inserir-dados h3{
    font-size: 24px;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    white-space: nowrap;
}

.inserir-dados input{
    width: 100%;

    font-size: 24px;
    color: #FFF;
    background-color: transparent;
    border-color: transparent;

    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.vidro button {
    border-radius: 10px;
    border: 3px solid #FFF;
    background: rgba(69, 69, 69, 0.40);
    backdrop-filter: blur(2px);

    color: #FFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;

    padding: 10px 20px;

    transition: 500ms;
}

.vidro button:hover {
    transform: scale(1.08);
}

@media screen and (max-width: 1100px) {
    .vidro{
        width: 80%;
    }

    .vidro button{
        font-size: 26px;
        padding: 5px 10px;
    }
}

@media screen and (max-width: 870px) {
    .main{
        height: 100%;

        background-position: center center;
    }
}

@media screen and (max-width: 670px) {
    .main{
        height: auto;
        background-position: center center;
    }
    
    .vidro{
        position: relative;
        margin-top: 20%;
    }
    
    .inserir-dados{
        flex-wrap: wrap;
    }

    .inserir-dados h3{
        width: 100%;
        text-align: center;
    }

    .vidro button{
        margin: 20px 0;
    }
}