.main {
    position: absolute;
    top: 0px;

    z-index: -1;

    width: 100%;
    padding: 10% 0 5% 0;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Cadastro-motorista.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.vidro {
    position: relative;
    z-index: 0;

    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    padding: 4% 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: rgba(69, 69, 69, 0.40);
    border: 3px solid rgba(69, 69, 69, 0.40);
    gap: 3vw;
}

.inserir-dados {
    position: relative;

    width: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.inserir-dados label {
    position: absolute;
    top: 0;
    left: 0;

    padding: 10px 0;
    font-size: 16px;

    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.inserir-dados input {
    width: 100%;

    padding: 10px 0;
    font-size: 16px;

    color: #fff;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    background: transparent;
}

.inserir-dados input:focus ~ label {
    top: -24px;
    left: 0;
    font-size: 18px;

    color: #cc1616;
}

.vidro a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #cc1616;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    margin-top: 40px;
    letter-spacing: 4px;

    transition: .5s;
}

.vidro a:hover {
    background: #cc1616;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #cc1616,
        0 0 25px #cc1616,
        0 0 50px #cc1616,
        0 0 100px #cc1616;
}

.vidro a span {
    position: absolute;
    display: block;
}

.vidro a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #cc1616);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.vidro a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #cc1616);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.vidro a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #cc1616);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.vidro a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #cc1616);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

@media screen and (max-width: 1100px) {
    .main {
        background-position: center center;
    }

    .vidro {
        width: 80%;
    }

    .vidro button {
        font-size: 26px;
        padding: 5px 10px;
    }
}

@media screen and (max-width: 870px) {
    .main {
        height: 100%;

        background-position: center center;
    }
}

@media screen and (max-width: 670px) {
    .main {
        height: 100%;
        background-position: center center;
    }

    .vidro {
        position: relative;
        margin-top: 20%;
    }

    .inserir-dados {
        flex-wrap: wrap;
    }

    .inserir-dados h3 {
        width: 100%;
        text-align: center;
    }

    .vidro button {
        margin: 20px 0;
    }
}