header{
    position: relative;
    top: 0px;
    left: 0px;

    height: 100vh;
}

.video-container {
    position: absolute;
    top: 0px;

    z-index: 1;

    width: 100%;
    height: 100%;
}

.video-container video {
    object-fit: cover;
}

.header-container{
    position: relative;
    z-index: 2;

    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20vh;
}

.header-container h1 {
    color: white;
    text-align: center;

    font-family: "GetVoIP Grotesque";
    font-size: 70px;
    font-weight: 700;

    line-height: 0.8;

}

.header-container span{
    color: white;

    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 45px;
}

.header-container button {
    border-radius: 10px;
    border: 3px solid #FFF;
    background: rgba(69, 69, 69, 0.40);
    backdrop-filter: blur(2px);

    color: #FFF;
    text-align: center;
    font-family: GetVoIP Grotesque;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;

    padding: 10px 40px;

    transition: 500ms;
}

.header-container button:hover {
    transform: scale(1.08);
}

.information-about{
    padding: 90px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.information-about .text-info {
    width: 50%;
    min-width: 500px;

    color: black !important;
}

.information-about .text-info h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 44px;
    font-weight: 700;

    white-space: nowrap;

    margin-bottom: 0px;
    line-height: 40px;
}

.information-about .text-info span {
    display: inline-block;

    margin-left: 41px;

    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 200;
}

.logo {
    color: black;

    font-family: "GetVoIP Grotesque";
    font-size: 2.5vw;

    text-align: center;

    width: 50%;

}

@media screen and (max-width: 530px) {
    .logo {
        font-size: 3vw;
    }

    .container {
        padding: 30px 10px;
    }

    .information-about{
        gap: 30px;
    }
    
    .information-about .text-info {
        width: 100%;
        min-width: auto;
    }

    .information-about .text-info h1 {
        font-size: 8.5vw;

        white-space: normal;
    }

    .information-about .text-info span {
        font-size: 5vw;
    }

}

@media screen and (max-width: 720px) {
    .header-container h1 {
        font-size: 11vw;
    }

    .header-container span {
        font-size: 7vw;
    }
}