.loader {
    position: fixed;
    z-index: 999;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;

    animation: smooth-hidden 0.75s ease forwards;
    animation-delay: 4.5s;
}

@keyframes smooth-hidden {
    from  {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.loading-logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-logo-container h1{
    font-family: 'GetVoIP Grotesque';
    font-size: 5vw;

    color: #000 !important;

    position: relative;
}

.loading-logo-container h1::after {
    content: '';

    position: absolute;
    left: 0px;

    width: 100%;
    height: 100%;

    background-color: #fff;

    animation: show-text 1s linear forwards;
    animation-delay: 2s;
}

.lunas-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.primary-luna, .secondary-luna, .primary-luna-inside {
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-radius: 400px 400px 0 0;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    position: relative;

    background-color: #fff;

    transform: rotate(180deg);
    transform-origin: bottom;

    animation: rotate 2s cubic-bezier(0.49, 0.33, 0, 0.97) forwards;
}

.primary-luna {
    width: 18vw;
    height: 9vw;

    z-index: 2;
}

.secondary-luna {
    width: 11vw;
    height: 5.5vw;
    
    left: -30px;
    z-index: 1;
}

.primary-luna-inside{
    width: 85%;
    height: 85%;
    
}

.graph-container {
    width: 80%;
    height: 80%;
}


@keyframes show-text {
    from {
        left: 0px;
    }

    to {
        left: 100%;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@media screen and (max-width: 1400px) { /* Menor que 1400 */
    .primary-luna {
        width: 22vw;
        height: 11vw;

        z-index: 2;
    }

    .secondary-luna {
        width: 15vw;
        height: 7.5vw;
        
        left: -30px;
        z-index: 1;
    }

    .loading-logo-container h1 {
        font-size: 6.5vw;
    }
}


@media screen and (max-width: 1100px) { /* Menor que 1100 */
    .primary-luna {
        width: 26vw;
        height: 13vw;

        z-index: 2;
    }

    .secondary-luna {
        width: 19vw;
        height: 9.5vw;
        
        left: -30px;
        z-index: 1;
    }

    .loading-logo-container h1 {
        font-size: 8vw;
    }
}

@media screen and (max-width: 900px) { /* Menor que 900 */
    .primary-luna {
        width: 30vw;
        height: 15vw;

        z-index: 2;
    }

    .secondary-luna {
        width: 23vw;
        height: 11.5vw;
        
        left: -30px;
        z-index: 1;
    }

    .loading-logo-container h1 {
        font-size: 9.5vw;
    }
}

@media screen and (max-width: 800px) { /* Menor que 800 */
    .primary-luna {
        width: 34vw;
        height: 17vw;

        z-index: 2;
    }

    .secondary-luna {
        width: 27vw;
        height: 13.5vw;
        
        left: -30px;
        z-index: 1;
    }

    .loading-logo-container h1 {
        font-size: 11vw;
    }
}

@media screen and (max-width: 700px) { /* Menor que 700 */
    .primary-luna {
        width: 50vw;
        height: 25vw;

        z-index: 2;
    }

    .secondary-luna {
        width: 43vw;
        height: 21.5vw;
        
        left: -30px;
        z-index: 1;
    }

    .loading-logo-container h1 {
        font-size: 14vw;
    }
}