body{
    margin: 0;
    padding: 0;
}

.main {
    position: absolute;
    top: 0px;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url(../img/perfil.jpg);
    background-size: cover;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.controle{
    width: 30%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: rgba(69, 69, 69, 0.40);
    outline: 3px solid rgba(69, 69, 69, 0.40);
    outline-offset: -3px;
    /* border: 3px solid rgba(69, 69, 69, 0.40); */
}

.interacao{
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.botao{
    width: 70%;

    border-radius: 10px;
    border: 3px solid #FFF;
    background: rgba(69, 69, 69, 0.40);
    backdrop-filter: blur(2px);

    color: #FFF;
    text-align: center;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;

    padding: 10px 20px;
    margin: 2% 0;

    transition: 500ms;
}

.sair {
    width: 100%;

    margin-top: 5%;
    
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: none;

    color: #a7a5a5;
    font-size: 20px;

    transition: 500ms;
}

.interacao button:hover {
    transform: scale(1.08);
}

.usuario {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.usuario img{
    width: 40%;
    height: auto;
    
    margin-bottom: 10px;
}

.usuario h2{
    width: 100%;

    text-align: center;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;

    font-size: 30px;
    color: #FFF;
    font-weight: 300;

}

#hamburguer{
    display: none;
    background-color: transparent;
    border-color: transparent;
}

.dados{
    width: 70%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#dCadastro{
    width: 80%;
    height: 80%;

    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

#dCarro{
    width: 80%;
    height: 80%;

    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

#confgCarro{
    width: 80%;
    height: 80%;

    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.linha{
    width: 80%;

    display: flex;

    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgba(69, 69, 69, 0.40);
    border-radius: 20px;
}

.linha h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #FFF;
    
    padding: 0 10px 0 10px;
}

.linha p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #FFF;

    padding: 0 10px 0 10px;
}

@media screen and (max-width: 1260px) {
    .interacao button {
        font-size: 15px;
        padding: 10px 5px;
    }

    .controle {
        width: 30%;
    }

    #hamburguer{
        display: none;
    }
}

@media screen and (max-width: 920px) {
    .interacao{
        display: none;
    }

    .usuario h2{
        display: none;
    }

    .usuario .foto{
        width: 60%;
        display: none;
    }

    #hamburguer{
        width: 100%;
        padding: 25px 0 0 0;
        display: block;
    }

    #hamburguer img{
        width: 60%;
    }

    .controle {
        width: 10%;
        align-items: start;
    }
    
    .dados {
        width: 90%;
    }
}

@media screen and (max-width: 710px) {
    .interacao button {
        font-size: 10px;
    }

    .linha {
        flex-wrap: wrap;
    }
    
    .dados #confgCarro, #dCarro, #dCadastro{
        width: 90%;
    }
}