@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@font-face {
    font-family: "GetVoIP Grotesque";
    src: url('../fonts/GetVoIP_Grotesque.otf'),
    url('../fonts/GetVoIP_Grotesque.ttf') format('truetype');
}

h1, h2, h3, h4, h5, h6, p, span{
    color: black;
}

body, html {
    height: 100vh;
    margin: 0px;
}

nav{
    position: fixed;
    top: 0px;
    z-index: 999;

    width: 100vw;
    height: 79px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: transparent;

    font-family: 'GetVoIP Grotesque';
}

.nav-logo-container h1 {
    font-weight: 400 !important;
    font-size: 12px !important;

    color: black !important;
    
    margin-left: 63px;
    margin-bottom: 0px;
}

.button-navigation-container ul{
    display: flex;
    gap: 10px;

    padding: 0px;
    margin: 0px !important;

    list-style-type: none;
}

nav a {
    color: black !important;

    text-decoration: none;
}

nav li {
    transition: 500ms;
}

nav li:hover {
    transform: scale(1.08);
}

.button-user-container {
    display: flex;
    gap: 10px;

    margin-right: 63px;
}

.button-user-container img{
    width: 31px;
    height: 31px;
}

.collapse-menu {
    display: none;

    background-color: transparent;
    cursor: pointer;

    border: none;
}

@media screen and (max-width: 720px) {
    .collapse-menu {
        display: block;
    }

    .button-navigation-container {
        width: 100%;
        height: 130px;

        display: flex;
        justify-content: center;
        align-items: flex-end;

        position: absolute;
        top: -130px;

        z-index: -1;
        
        transition: 1s;

        background-color: #fff;

        padding-bottom: 20px;
    }

    .button-navigation-container ul{
        flex-wrap: wrap;
    }   
}

@media screen and (max-width: 360px) {
    .nav-logo-container {
        margin-left: 10px;
    }

    .button-user-container {
        margin-right: 10px;
    }
}
